header{
    text-align: center;
}

body {
  background-image: url('../images/mountains.jpg');
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

section{
    margin-left: 20px;
    margin-right: 20px;
    font-weight: bold;
    background-color: white; opacity:0.9 ;
    color:rgb(11, 42, 85);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

figcaption{
    text-align: center;
}

.hometext{
    font-weight: bold;
    background-color: white; opacity:0.9 ;
    color:rgb(11, 42, 85)
}

.fall{
   display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 15px;
    border:rgb(11, 42, 85);
    border-radius: 20px;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 15px;
    border:rgb(11, 42, 85);
    border-radius: 20px;
}

.navbar ul{
    list-style-type: none;
    text-align: center;
    background-color: rgb(11, 42, 85);
    padding: 0px;
    margin: 0px;
    overflow: hidden
}

.navbar a{
    color:white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: rgb(1, 28, 4);
}

.navbar li{
    float: left
}

.pin-bullets{
    list-style-image: url(../images/pin.svg);
    color:rgb(11, 42, 85)
}

footer{
    background-color: rgb(11, 42, 85);
    color:white;
    text-align: center;
    margin-top: auto;
}

.salt{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 15px;
    border:rgb(11, 42, 85);
    border-radius: 20px;
}

.cannal{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 15px;
    border:rgb(11, 42, 85);
    border-radius: 20px;
}


.fry{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 15px;
    border:rgb(11, 42, 85);
    border-radius: 20px;
}

.shake{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 15px;
    border:rgb(11, 42, 85);
    border-radius: 20px;
}

.zions{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 15px;
    border:rgb(11, 42, 85);
    border-radius: 20px;
}

.dixie{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 15px;
    border:rgb(11, 42, 85);
    border-radius: 20px;
}