.grid-container{
    display: grid;
    grid-template-areas: 'myArea myArea myArea';
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 2fr;
    gap: 10px;
    padding: 20px;
}

.grid-item{
    color:gray;
    text-align: center;
    font-size: 20px;
    border: 2px solid #333;
    border-radius: 13px;
}

.item1{
    grid-area: 4/3;
    background-color: aquamarine;
}

.item2{
    grid-area: 3/2;
    background-color:rgba(127, 255, 212, 0.613);
}

.item3{
    grid-area: 2/1;
    background-color: rgba(127, 255, 212, 0.718);
}

.item4{
    grid-area: myArea;
    background-color: rgba(127, 255, 212, 0.383);
}